<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-app="scrumboard.demo">
    {% verbatim %}
        <div ng-controller="ScrumboardController">
            <div class="" ng-repeat="list in data">
                <h3>{{ list.name }}</h3>
                <ul>
                    <li ng-repeat="card in list.cards">{{ card.title }}</li>
                </ul>
                <input type="text" ng-model="new_title">{{new_title}}
                <button ng-click="add(list,new_title)">+</button>
            </div>
        </div>
    {% endverbatim %}


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
        /* IIFE immediately-invoked function expression*/
        /* For testing:
            Model = JS variable
            View = Template of Django
            Controller = JS function   
        */
        (function(){
            'user strict';
            angular.module('scrumboard.demo',[])
                .controller('ScrumboardController',['$scope',ScrumboardController]);

                function ScrumboardController($scope){
                    $scope.add = function(list,title){
                        var card = {
                            title : title
                        };
                        list.cards.push(card);
                    };
                    $scope.data = [
                        {
                            name: 'Django Project',
                            cards: [
                                {
                                    title: 'Create Models'
                                },
                                {
                                    title: 'Create View'
                                },
                                {
                                    title: 'Migrate Database'
                                },
                            ]
                        },
                        {
                            name: 'Angular Project',
                            cards: [
                                {
                                    title: 'Create HTML'
                                },
                                {
                                    title: 'Create Module'
                                },
                                {
                                    title: 'Create Controller'
                                },
                            ]
                        },
                        {
                            name: 'CSS3 Project',
                            cards: [
                                {
                                    title: 'Create Box'
                                },
                                {
                                    title: 'Make Responsive'
                                },
                                {
                                    title: 'Modify JS'
                                },
                            ]
                        },
                    ];
                }

        }());
    </script>
</body>
</html>